<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Asset 2 Information</title>
	
	<style type="text/css">
	<!--
	.style1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 34px;
	color: #CCCCCC;
	}
	.style2 {font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #ffffff;}
	.style3 {font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: #ffffff;}
	body {
	background-color: #000000;
	}
	.style4 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 28px;
	color: #ffffff;
	}
	.style5 {font-size: 18px; font-family: Arial, Helvetica, sans-serif;}
	.style6 {color: #CCCCCC}
	.style7 {color: #FFFFFF}
	-->
	</style>
</head>
<script language="javascript">

</script>
<body onLoad="timer = setTimeout('auto_Refresh()',90000);NamaBrowser();">
	<table width="100%" border="0" cellspacing="0" cellpadding="10" background="Images/BG1.jpg">
		<tr>
			<td colspan="2" bgcolor="ffffff" class="style1"><img src="Images/PertaminaAsset2.jpg" width="500" height="118"></td>
		</tr>
		<tr>
			<td width="513" valign="top"><table width="95%" border="0" cellspacing="0" cellpadding="10">
				<tr>
					<td colspan="2" valign="top">
						<span class="style6">Updated On:</span><BR/>
						<span class="style4">1/9/2018 7:20:06 AM</span></td>
					</tr>
					<tr>
						<td width="50%" valign="top"><span class="style4">
							<span class="style6">Oil Production</span> <br>
							<img src="Images/Ok.jpg" width="40" height="40"> <br>
							18,159 BOPD<br>
							104% target
							<br>
						</span></td>
						<td width="50%" valign="top"><span class="style4"><span class="style6">Gas Production</span> <br>
						<img src="Images/Ok.jpg" width="40" height="40"> <br>
						455  MMSCFD<br>
						107 % target<br>
						<br>
					</span></td>
				</tr>
				<tr>
					<td colspan="2" valign="top"><span class="style4">
						
					</span><span class="style4">
				</span>
				<table width="420" border="1" cellpadding="0" cellspacing="0" bordercolor="#000000" bgcolor="#999999">
					<tr>
						<td>
							<script type="text/javascript" src="http://www.oil-price.net/TINY_CHART/gen.php?lang=en"></script>
							<noscript> To get the <a href="http://www.oil-price.net/dashboard.php?lang=en#TINY_CHART">oil price</a>, please enable Javascript.</noscript>     </td>
							<td>
								<script type="text/javascript" src="http://www.oil-price.net/widgets/brent_crude_price_tiny/gen.php?lang=en"></script>
								<noscript> To get the BRENT <a href="http://www.oil-price.net/dashboard.php?lang=en#brent_crude_price_tiny">oil price</a>, please enable Javascript.</noscript>            </td>
								<td>
									<script type="text/javascript" src="http://www.oil-price.net/widgets/natural_gas_small/gen.php?lang=en#natural_gas_small"> </script>
									<noscript> To get the <a href="http://www.oil-price.net">natural gas price</a>, please enable Javascript. </noscript>
								</td>
							</tr>
						</table>
						<span class="style4"><br>
							<br>
							<br>
						</span></td>
					</tr>
				</table>    </td>
				<td width="741" valign="top"><table width="95%" border="0" cellspacing="0" cellpadding="5" background="Images/LayerBG.jpg">
					<tr>
						<td class="style2"><br></td>
						<td class="style2">Oil in BOPD</td>
						<td class="style2">Gas in MMSCFD</td>
					</tr>
					
					
					<tr class="style2" >
						<td>
						Field Limau   </td>
						<td>
							
							<img src="Images/Ok.jpg" width="17" height="17"> &nbsp;4,404 &nbsp; (99%)
							
						</td>
						<td>
							
							<img src="Images/Ok.jpg" width="17" height="17"> &nbsp;9 &nbsp; (156%)
							
						</td>
					</tr>
					<tr class="style2" >
						<td>
						Field Pendopo   </td>
						<td>
							
							<img src="Images/Ok.jpg" width="17" height="17"> &nbsp;3,208 &nbsp; (113%)
							
						</td>
						<td>
							
							<img src="Images/Ok.jpg" width="17" height="17"> &nbsp;283 &nbsp; (108%)
							
						</td>
					</tr>
					<tr class="style2" >
						<td>
						Field Adera   </td>
						<td>
							
							<img src="Images/Ok.jpg" width="17" height="17"> &nbsp;1,247 &nbsp; (129%)
							
						</td>
						<td>
							
							<img src="Images/Ok.jpg" width="17" height="17"> &nbsp;6 &nbsp; (142%)
							
						</td>
					</tr>
					<tr class="style2" >
						<td>
						Own Prabumulih    </td>
						<td>
							
							<img src="Images/OkNot.jpg" width="17" height="17"> &nbsp;5,568 &nbsp; (96%)
							
						</td>
						<td>
							
							<img src="Images/Ok.jpg" width="17" height="17"> &nbsp;110 &nbsp; (104%)
							
						</td>
					</tr>
					<tr class="style2" >
						<td>
						Paku Gajah    </td>
						<td>
							
							<img src="Images/OkNot.jpg" width="17" height="17"> &nbsp;852 &nbsp; (88%)
							
						</td>
						<td>
							
							<img src="Images/OkNot.jpg" width="17" height="17"> &nbsp;45 &nbsp; (99%)
							
						</td>
					</tr>
					<tr class="style2" >
						<td>
						ASD   </td>
						<td>
							
							<img src="Images/OkNot.jpg" width="17" height="17"> &nbsp;348 &nbsp; (94%)
							
						</td>
						<td>
							
							<img src="Images/OkNot.jpg" width="17" height="17"> &nbsp;2 &nbsp; (79%)
							
						</td>
					</tr>
					<tr class="style2" >
						<td>
						Titis   </td>
						<td>
							
							<img src="Images/Ok.jpg" width="17" height="17"> &nbsp;421 &nbsp; (190%)
							
						</td>
						<td>
							-
						</td>
					</tr>
					<tr class="style2" >
						<td>
						OBP   </td>
						<td>
							
							<img src="Images/OkNot.jpg" width="17" height="17"> &nbsp;422 &nbsp; (92%)
							
						</td>
						<td>
							-
						</td>
					</tr>
					<tr class="style2" >
						<td>
						PSG   </td>
						<td>
							
							<img src="Images/Ok.jpg" width="17" height="17"> &nbsp;1,689 &nbsp; (115%)
							
						</td>
						<td>
							-
						</td>
					</tr>
					<tr class="style2" >
						<td>
						Total Prabumulih    </td>
						<td>
							
							<img src="Images/Ok.jpg" width="17" height="17"> &nbsp;9,299 &nbsp; (100%)
							
						</td>
						<td>
							
							<img src="Images/Ok.jpg" width="17" height="17"> &nbsp;157 &nbsp; (1,565,400%)
							
						</td>
					</tr>
					
					
				</table>
				<br>
				<marquee direction="left"><span class="style3">Oil Production 18,159 BOPD Gas Production 455 MMSCFD</span>
			</marquee></td>
		</tr>
	</table>
</body>
</html>