<!DOCTYPE html>
<html>
	<head>
		{% block tittle %}

		{% endblock%}
		
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'login/Displayinformation.css' %}" type="text/css" />
		<link rel="stylesheet" href="{% static 'login/css/bootstrap.min.css' %}" type="text/css">


		<script type="text/javascript" src="{% static 'login/waktu.js' %}"></script>
	</head>
	<body bgcolor="red">
		<header id="headertop" class="">
			{% load staticfiles %}
			<img id="imgheader" src="{% static 'login/image/Pertamina.png'%}" alt="">
		</header>

		<div id="part1" class="container-fluid">
  			{% block body %}
			{% endblock %}
  		</div>

	</body>
</html>