<!DOCTYPE html>
<html>
	<head>
		{% block tittle %}

		{% endblock%}
		
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'login/sdisplays.css' %}" type="text/css" />
		<link rel="stylesheet" href="{% static 'login/css/bootstrap.min.css' %}" type="text/css">


		<script type="text/javascript" src="{% static 'login/waktu.js' %}"></script>
	</head>
	<body onLoad="timer = setTimeout('auto_Refresh()',90000);NamaBrowser();">
		<header id="headertop" class="">
			{% load staticfiles %}
			<img id="imgheader" src="{% static 'login/image/PertaminaAsset2.jpg'%}" alt="">
		</header>

		{% block body %}
		{% endblock %}
		<footer>Copyright &copy; PT Pertamina  EP Asset II 2018. All Rights Reserved.</footer>
		
	</body>
</html>