{% extends "index/Base_Display.html" %}
{% block title%}
	<title>DisplayInformation2</title>
{% endblock%}
{% block body %}
	<div id="part1">
		<div id="kiri">
			<p>Update On :</p>
			<br>
			<br>
			<table id="customers">
				<tr>
					<th>Oil Production</th>
					<th>Gas Production</th>
				</tr>
				<tr>
					<td>Alfreds Futterkiste</td>
					<td>Maria Anders</td>
				</tr>
				<tr>
					<td>Berglunds snabbköp</td>
					<td>Sweden</td>
				</tr>
				<tr>
					<td>Berglunds snabbköp</td>
					<td>Sweden</td>
				</tr>
			</table>
			
		</div>
		<div id="kanan">
			<p>ini adalah kolom sebelah kanan</p>
		</div>
	</div>
{% endblock %}