<!--<form method="post" action=".?next={{ redirect_to }}"> {% csrf_token %}-->
    <!--<input type="text" name="username" placeholder="Username"/>-->
    <!--<input type="password" name="password" placeholder="Password"/>-->

    <!--<input type="submit" value="Login"/>-->
<!--</form>-->

<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
		{% load staticfiles %}

		<link rel="stylesheet" href="{% static 'login/style2.css' %}" type="text/css" />
	</head>

	<body id="loginbody">
		
		<form method="post" action=".?next={{ redirect_to }}">
                {% csrf_token %}
				<table class="table1">

					<tr>
						<!--{% if form.errors %}-->
						<!--<td><label>Username atau Password salah</label></td>-->
						<!--{% endif %}-->
                        <td><label>LOGIN</label></td>
                    </tr>
					<tr>
                        <td><input type="text" name="username" placeholder="Username"/></td>
                    </tr>
                    <tr>
                        <td><input type="password" name="password" placeholder="Password"/></td>
                    </tr>
					<tr>
						<td><input type="submit" value="Login" /></td>
					</tr>
				</table>

		 </form>

    </body>
</html>