/*Display Information*/
body{
	background-color: black;
}
#headertop{
	margin-left: 10px;
	background-color: white;
	/*margin : 0 auto;*/

}
#imgheader{
	height: 100px;
	padding-top: 20px;
	padding-left: 10px;
	padding-bottom: 20px;
	/*margin-bottom: 0px;*/
}

#part1{
	width: 100%;
	background : url("image/BG1.jpg");
	color: white;
}

#kanan{
	margin-bottom: 10px;
}