/*Display Information*/
body{
	background-color: black;
}
#headertop{
	margin-left: 10px;
	background-color: white;
	/*margin : 0 auto;*/

}
#imgheader{
	height: 100px;
	padding-top: 20px;
	padding-left: 10px;
	padding-bottom: 20px;
	/*margin-bottom: 0px;*/
}

#part1{
	width: 100%;
	height: 570px;
	background : url("image/BG1.jpg");
	color: white;
}

footer{
	padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
    margin-top: 0px;
}

/*===============*/

#kiri
{
	margin-top: 10px;
	margin-left: 10px;
	padding-top: 10px;
	width:42%;
	height:400px;
	background-color:green;
	/*background-color:transparent;*/
	float:left;
}
#kanan
{
	margin-top: 10px;
	margin-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	width:50%;
	height:400px;
	background-color:red;
	float:left;
}


#lf{
	width: 500px;
	background-color: red;
}
#rg{
	width: 1000px;
	background-color: blue;
}

p{
	padding-left: 10px;
}
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: transparent;}

#customers tr:hover {background-color: red;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

#tabelutama{
	border: 1px white;
}