/*Display Information*/
body{
	background-color: black;
}
#headertop{
	background-color: white;
	margin : 0 auto;

}
#imgheader{
	padding-left: 10px;
	padding-bottom: 10px;
	margin-bottom: 0px;
}

#part1{
/*	margin-top: 0px;*/
	height: 670px;
	background : url("image/BG1.jpg");
	/*background-size : cover;*/
	background-attachment: fixed;
	/*background-color: lightgray;*/
	
}

footer{
	position: fixed-bottom;
	padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

/*===============*/

#part2{
	width: 820px;
	height : 620px;
	background : blue;
	margin : 0 auto;
}
#part3{
	border: 1px solid;
	width: 820px;
	height : 620px;
	background : red;
	margin : 0 auto;
}

table{
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}