#loginbody{
	background : url("image/bg1.png");
	background-repeat: no-repeat;
	background-size : cover;
	background-attachment: fixed;
	font-family: 'courir';
}

#table1{
	width : 320px;
	height : 130px;
	border : 4px;
	margin: 0 auto;
	padding-right: 0px;
	border-spacing: 0px;
	margin-top: 150px;
	background-color: lightgray;
	border: 1px solid black;
}

th, td {
    text-align: center;
    /*padding: 8px;*/
    padding-left: 15px;
    font-size: 18px;
    
}

#loginb{
	font-size: 18px;
	margin-bottom: 15px;
	font-family: 'courir'
}
